.btn {
    display: block;
    width: 130px;
    height: 35px;
    border-radius: 20px;
    background-color: rgba(28, 127, 214, 0.9);
    font-size: 16px;
    color: #fff;
    border: none;
    cursor: pointer;
}

.btn:hover {
    color: rgb(28, 127, 214);
    background-color: #fff;
    border: 1px solid rgba(28, 127, 214, 0.6);
}

.load__more {
    margin: 30px auto;
}